.nav-links {
  display: flex;
  gap: 3.2rem;

  &-child {
    list-style: none;

    & a:hover {
      transform: scale(1.02);
    }

    & a:active {
      transform: scale(0.98);
    }
  }
}

.btn {
  border: none;
  border-radius: 100rem;
  padding: 1.5rem 3rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }

  &-dark {
    background-color: $bright-red;
    box-shadow: 0 1rem 3rem -1.1rem $brighter-red;

    &:hover {
      background-color: $brighter-red;
      box-shadow: 0 1rem 4rem -1.1rem $brighter-red;
    }

    &:active {
      box-shadow: 0 1rem 2rem -1.1rem $brighter-red;
    }
  }

  &-light {
    background-color: $white;

    &:hover {
      box-shadow: 0 1rem 4rem -1.1rem #fff0ec70;
    }

    &:active {
      box-shadow: 0 1rem 2rem -1.1rem #fff0ec70;
    }
  }
}

.logo {
  line-height: 0;
  margin-top: 0.5rem;
}

.hero {
  &-heading {
    width: 44.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .primary-heading {
      margin-bottom: 1.6rem;
    }

    & .paragraph {
      width: 35rem;
      margin-bottom: 4rem;
    }
  }

  &-graphs {
    @include center;
    width: 54rem;
    position: relative;

    & img {
      max-height: 100%;
    }

    &::after {
      content: '';
      background-color: $very-pale-red;
      position: absolute;
      width: 43.6rem;
      height: 200rem;
      border-radius: 100rem;
      top: -130rem;
      right: -45rem;
      z-index: -1;
      transform: rotate(45deg);
    }
  }
}

.about {
  position: relative;

  &::after {
    content: '';
    background-color: $very-pale-red;
    position: absolute;
    width: 43.6rem;
    height: 108rem;
    border-radius: 100rem;
    bottom: -75rem;
    left: -40rem;
    z-index: -1;
    transform: rotate(45deg);
  }

  &-heading {
    width: 44.5rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2.4rem;
    & .paragraph {
      width: 75%;
    }
  }

  &-list {
    width: 54rem;
    display: flex;
    flex-direction: column;
    gap: 4.2rem;

    &-item {
      display: flex;
      gap: 2.8rem;

      &-number {
        background-color: $bright-red;
        padding: 0.75rem 2rem;
        margin-top: -0.5rem;
        border-radius: 100rem;
        align-self: flex-start;
      }

      &-data {
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
      }
    }
  }
}

.testimonials {
  &-blocks {
    @include center;
    gap: 3rem;
    margin-top: 4rem;

    &-item {
      position: relative;
      padding: 6rem 4rem 4rem;
      width: 54rem;
      background-color: $very-light-gray;
      border-radius: 0.2rem;

      & img {
        position: absolute;
        top: 0;
        right: 50%;
        width: 7.2rem;
        transform: translate(50%, -50%);
      }

      &-quote {
        @include center;
        flex-direction: column;
        gap: 1.9rem;
      }
    }
  }
}

.cta {
  @include center;
  background-color: $bright-red;
  min-width: 100vw;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    background-color: $very-pale-red;
    position: absolute;
    width: 36rem;
    height: 108rem;
    border-radius: 100rem;
    bottom: -9rem;
    right: -26rem;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.06;
  }

  &::before {
    content: '';
    background-color: $very-pale-red;
    position: absolute;
    width: 36rem;
    height: 108rem;
    border-radius: 100rem;
    bottom: -72rem;
    left: 20rem;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.06;
  }

  &-container {
    width: 144rem;
    padding: 6.2rem 16.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  & .secondary-heading {
    width: 44.5rem;
  }
}

.footer {
  background-color: $black;
  & .container {
    display: flex;
    justify-content: space-between;
  }

  & .logo-area,
  & .form-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .logo-area {
    align-items: flex-start;
  }

  & .form-area {
    align-items: flex-end;
  }

  & .social-area {
    @include center;
    gap: 1.1rem;

    a:hover,
    a:active {
      transform: scale(1.05);
      svg path {
        fill: $bright-red;
      }
    }

    a:active {
      transform: scale(0.95);
    }
  }

  & .site-map {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      width: 50%;
      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }
    }
  }
}

.form-area {
  .email-subscription {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    input {
      width: 20rem;
      height: 4.4rem;
      border-radius: 100rem;
      border: none;
      padding: 1rem 2rem;
    }
  }

  .btn {
    box-shadow: none;

    &:hover,
    &:active {
      box-shadow: none;
    }
    &:hover {
      box-shadow: 0 1rem 4rem -1.1rem #fff0ec30;
    }

    &:active {
      box-shadow: 0 1rem 2rem -1.1rem #fff0ec30;
    }
  }
}

svg path {
  transition: all 0.2s;
}
