.nav-links {
  display: flex;
  gap: 3.2rem;

  &-child {
    list-style: none;

    & a:hover {
      transform: scale(1.02);
    }

    & a:active {
      transform: scale(0.98);
    }
  }
}

.btn {
  border: none;
  border-radius: 100rem;
  padding: 1.5rem 3rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }

  &-dark {
    background-color: $bright-red;
    box-shadow: 0 1rem 3rem -1.1rem $brighter-red;

    &:hover {
      background-color: $brighter-red;
      box-shadow: 0 1rem 4rem -1.1rem $brighter-red;
    }

    &:active {
      box-shadow: 0 1rem 2rem -1.1rem $brighter-red;
    }
  }

  &-light {
    background-color: $white;
  }
}

.logo {
  line-height: 0;
  margin-top: 0.5rem;
}

.hero {
  &-heading {
    width: 44.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .primary-heading {
      margin-bottom: 1.6rem;
    }

    & .paragraph {
      width: 35rem;
      margin-bottom: 4rem;
    }
  }

  &-graphs {
    @include center;
    width: 54rem;
    position: relative;

    & img {
      max-height: 100%;
    }

    &::after {
      content: '';
      background-color: $very-pale-red;
      position: absolute;
      width: 43.6rem;
      height: 108rem;
      border-radius: 100rem;
      top: -52rem;
      right: -15rem;
      z-index: -1;
      transform: rotate(45deg);
    }
  }
}

.about {
  position: relative;

  &::after {
    content: '';
    background-color: $very-pale-red;
    position: absolute;
    width: 43.6rem;
    height: 108rem;
    border-radius: 100rem;
    bottom: -75rem;
    left: -40rem;
    z-index: -1;
    transform: rotate(45deg);
  }

  &-heading {
    width: 44.5rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2.4rem;
    & .paragraph {
      width: 75%;
    }
  }

  &-list {
    width: 54rem;
    display: flex;
    flex-direction: column;
    gap: 4.2rem;

    &-item {
      display: flex;
      gap: 2.8rem;

      &-number {
        background-color: $bright-red;
        padding: 0.75rem 2rem;
        margin-top: -0.5rem;
        border-radius: 100rem;
        align-self: flex-start;
      }

      &-data {
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
      }
    }
  }
}

.testimonials {
  &-blocks {
    @include center;
    gap: 3rem;
  }
}
