.mg-top-s {
  margin-top: 12rem;
}

.mg-top-m {
  margin-top: 13.2rem;
}

.mg-top-l {
  margin-top: 14.6rem;
}

.mg-top-xl {
  margin-top: 18rem;
}

.typo-mg-s {
  margin-bottom: 1.6rem;
}

.typo-mg-m {
  margin-bottom: 2.4rem;
}

.typo-mg-l {
  margin-bottom: 4rem;
}
