.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding: 5.6rem 16.5rem 0;
  position: relative;
  overflow: hidden;
}

.main {
  @include center;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 100%;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}

.hero {
  @include center;
  gap: 12.5rem;
}

.about {
  @include center;
  gap: 12.5rem;
  padding: 12.8rem 16.5rem 0;
}

.testimonials {
  padding: 12.8rem 16.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  overflow: hidden;
}

.cta {
  height: 22rem;
}
