.wrapper {
  width: 90vw;
  max-width: $desktop-width;
  margin: 0 auto;
}

.header {
  padding-top: 5.6rem;
  overflow: hidden;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero {
  &-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}

.main {
  overflow: hidden;
}

.about {
  &-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}

.testimonials {
  @include center;
  flex-direction: column;
  gap: 6rem;
}

.cta {
  height: 22rem;
}

.footer {
  height: 25rem;
  @include center;
}
