body {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: 400;
}

.nav-links {
  & a:link,
  & a:visited {
    color: $dark-blue;
    font-size: 1.3rem;
    font-weight: 500;
  }

  & a:hover,
  & a:active {
    color: $dark-grayish-blue;
  }
}

.site-map {
  & a:link,
  & a:visited {
    color: $white;
    font-size: 1.5rem;
    font-weight: 400;
  }

  & a:hover,
  & a:active {
    color: $bright-red;
  }
}

.btn {
  color: $very-pale-red;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;

  &-light {
    color: $bright-red;
  }

  &-light:hover {
    color: $brighter-red;
  }
}

.primary-heading {
  color: $dark-blue;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: -0.1rem;
}

.secondary-heading {
  color: #242d52;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: -0.0714rem;
}

.cta {
  & .secondary-heading {
    color: $very-pale-red;
    font-size: 3.6rem;
    font-weight: 500;
  }
}

.tertiary-heading {
  color: #242d52;
  font-weight: 700;
  letter-spacing: -0.0286rem;
}

.about-list-item-number {
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.0286rem;
}

.paragraph {
  color: $dark-blue;
  line-height: 2.6rem;
  opacity: 0.5025;
}

cite {
  font-style: normal;
}

.copy-right {
  color: $very-light-gray;
  font-size: 1.3rem;
  letter-spacing: -0.0203rem;
}

.form-area {
  input {
    color: $dark-grayish-blue;
  }
}
